a:pdf-link {
    color: red;
}

.wrap { 
    /* // 这个只是让整体在页面居中展示 */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 8px;
}

.card_wrap { 
    /* // 卡片容器 */
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.card_item { 
    /* // 每个卡片 */
    flex-basis: 25%;
    margin-bottom: 16px;
    padding: 0px 8px;
    box-sizing: border-box;
}

.card_content { 
    /* // 卡片内容 */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    height: 40px;
    width: 80%;
    text-align: center;
}